<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinize">
    <p><input type="text" name="word"></p>
    <input type="submit" id="Submit">

  </body>
</html>
